*
{
	max-width: 100%;
}

html, body {
    size: 100% 100%;
    margin: 0;
}

body
{
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.tpargh
{
	margin: 0;
	padding-top: 30vh;
	font-size: 25vh;
	color: white;
	text-align: center;
	height: 70vh;
	text-shadow: 0.5vh 0.5vh #000;
}

.cont
{
	max-width: 100%;
	margin: 0;
	overflow: hidden;
}

.p1,
h1,
.ft
{
	margin: 0;
	padding: 1%;
	text-align: center;
	width: 100%;
  box-shadow: 0 0 8px #000;
}

h1
{
	font-size: 10vh;
	background:  lightgray;
	color: black;
}

.p1
{
	font-size: 5vh;
	padding: 5px;
	color: white;
	text-shadow: 0.1vh 0.1vh;
	background: rgb(40,160,240);
}

#mail
{
	color: rgb(230,230,230);
	-webkit-transition: all 0.4s ease-in-out;
}

#mail:hover
{
	color: white;
}

.ft
{
  background: rgb(20,20,20);
  overflow: auto;
}

.btn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: -moz-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: -ms-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: -o-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: linear-gradient(to bottom, #ffffff, #d9d9d9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #8c8c8c;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
}

.btn:hover {
  background: #ffffff;
  color: #000;
  background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -ms-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -o-linear-gradient(top, #ffffff, #ebebeb);
  background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
  text-decoration: none;
  cursor: pointer;
}

table#pftable
{
	display: table;
	margin: 0;
	width: 100%;
	overflow: auto;
	background: rgb(40,160,240);
	box-shadow: 0 0 8px #000;
	padding: 1%;
	border-spacing: 1vw;
}

td.cell {
  width: 33.3%;
  position: relative;
}

td.cell:after {
  content: '';
  display: block;
  margin-top: 100%;
}

.rimg
{
	position: absolute;
	height: 100%;
	width: 100%;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: absolute;
  text-align: center;
  cursor: default;
  box-shadow: 0 0 5px #000;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75,75,75,0.7);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover{
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
	margin: 0;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 2vh;
  padding: 1vh;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(200%);
  -ms-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.hovereffect a.info,
.hovereffect p {
  display: inline-block;
  text-decoration: none;
  padding: 4% 4%;
	font-size: 1.5vh;
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(10, 10, 10, 0.5);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;

}

.hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect a.info {
	text-transform: uppercase;
	-webkit-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  transform: translateY(-60%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
	-webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
	background: rgba(0, 128, 128, 0.5);
}
